#intro{
  background-color: #004e8d;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
}

.navbar-brand > img{
  width: 150px;
}

.jumbotron{
    background-color:transparent !important;
}

.jumbotron .intro-text{
  margin-top: 30px;
}

section{
  margin-bottom: 120px;
}

section h1.section-heading{
  text-align: center;
  margin-bottom: 10rem;
}

section h5.section-heading{
  text-align: center;
  margin-bottom: 1rem;
}

.benefit_single{
    position: relative;

}

.benefit_gray_left{
    position: relative;
    overflow: visible;
    border: solid 1px rgba(151, 151, 151, 0.17);
    background-color: #fafafa;
    margin-left: 10%;
    height: 450px;
}

@media screen and (max-width: 767px) {
  .benefit_gray_left{
    position: relative;
    overflow: visible;
    border: solid 1px rgba(151, 151, 151, 0.17);
    background-color: #fafafa;
    margin-left: 0%;
    height: auto;
  }
}

.benefit_text_left{
  padding: 15%;
  padding-right: 40%;
}

@media screen and (max-width: 767px) {
  .benefit_text_left{
    padding: 15%;
  }
}

.benefit_blue_right
{
  box-sizing: border-box;
  position: relative;
  background-color:  #004e8d;
  margin-left:-50%;
  bottom: 20%;
  height: 450px;
  overflow: overflow;
}

@media screen and (max-width: 1199px) {
  .benefit_blue_right
  {
      margin-left:-70%;
  }
}

@media screen and (max-width: 767px) {
  .benefit_blue_right
  {
    box-sizing: border-box;
    position: relative;
    background-color:  #004e8d;
    margin-left: auto;
    bottom: 0%;
    max-height: 75%;
  }
}

.benefit_blue_right img{
  max-height: 100%;
max-width: auto;
width: auto;
height: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.image-container {
  display:block;
      margin:auto;
}

.benefit_gray_right{
    position: relative;
    overflow: visible;
    border: solid 1px rgba(151, 151, 151, 0.17);
    background-color: #fafafa;
    margin-right: 10%;
    height: 450px;
}

.benefit_text_right{
  padding: 15%;
  padding-left: 40%;
}

@media screen and (max-width: 767px) {
  .benefit_text_right{
    padding: 15%;
  }
}

@media screen and (max-width: 767px) {
  .benefit_gray_right{
    height:auto;
    margin-right: 0%;
  }
}

@media screen and (max-width: 767px){
#kolejnosc_skutecznosc_text{
  order:1;
}
#kolejnosc_skutecznosc_obrazek{
  order:2;
}
}


.benefit_blue_left
{
  box-sizing: border-box;
  position: relative;
  background-color:  #004e8d;
  margin-right:-50%;
  bottom: 20%;
  height: 450px;
  overflow: visible;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .benefit_blue_left
  {
      margin-right:-70%;
  }
}

@media screen and (max-width: 767px) {
  .benefit_blue_left
  {
    box-sizing: border-box;
    position: relative;
    background-color:  #004e8d;
    margin-left: auto;
    bottom: 0%;
    max-height: 75%;
    margin-right: 0%;
  }
}

.benefit_blue_left img{
  max-height: 100%;
max-width: auto;
width: auto;
height: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

#Popularne_funkcje  h1.section-heading{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 15%;
  margin-bottom: 0px;
}

.popularne_funkcje_text{
  padding: 10%;
  padding-top: 5%;
}

@media screen and (max-width: 768px) {
  .funkcje_img img{
    max-width:60%;
  }
}

.funkcje_img{
  margin-bottom: 30px;
  text-align: center;
}

.funkcje_paragraph{
  text-align: left;
}

#jak_to_dziala{
  background-color: #fafafa;
  margin-bottom: 0px;
  padding-bottom: 10%;;
}

#jak_to_dziala  h1.section-heading{
  text-align: center;
  padding-top: 10%;
  padding-bottom: 15%;
  margin-bottom: 0px;
}

.jak_to_dziala_text{
  padding: 10%;
  padding-top: 5%;
}

.jak_to_dziala_paragraph{
  text-align: center;
}

#sprawdz_kurs{
  background-color: #004e8d;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  margin-bottom: 0px;
  padding-bottom: 5%;
}

#sprawdz_kurs h1.section-heading{
  margin: 15%;
  margin-bottom: 5%;
}

#kontakt{
  background-color: #fafafa;
  padding-bottom: 100px;
  margin-bottom: 0px;
}
#kontakt h1.section-heading{
  margin-bottom: 0px;
  color: #004e8d;
}

#Porozmawiajmy{
  padding-top: 150px;
  padding-bottom: 100px;
  color: #004e8d;
}
